* {
    background-color: white;;
}

.top-part {
    background-color: white`;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.team {
    /* display: flex;
    flex-direction: row; */
    color: purple;
    font-style: italic;
    text-decoration-line: underline;
    font-weight: bolder;
}

.UI {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: .5rem;
    margin-bottom: 3rem;
}

.Development {
    margin-top: ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: .5rem;
}