
.App {
  text-align: center;
  margin: auto;
} 

.main {
  background-color: rgb(80, 153, 205);
}

 
header {
  background-color: rgb(80, 153, 205);
  display: flex;
  margin-top: 40px;
  height: 1rem;
  line-height: 5px;
  flex-direction: row;
  font-family:  'Righteous', cursive;
  font-size: 15px;
  justify-content: space-evenly;
  padding: 0 10px 25px 10px;
}

#even {
  color: #772BA1;
  background-color: #D4EC70;
}
 
.LinkStyle {
  padding: 15px;
  background-color:#772BA1;
  border-radius: 50% 0 50% 0;
    /* text-decoration: none; */
    /* color:  #D4EC70; */
}
