
.App {
  text-align: center;
  margin: auto;
}
 
header {
  display: flex;
  flex-direction: row;
  font-family:  'Righteous', cursive;
  font-size: 15px;
  justify-content: space-evenly;
  padding: 25px 10px 25px 10px;
}

#even {
  color: #772BA1;
  background-color: #D4EC70;
}

/* .label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
} */
 
.LinkStyle {
  padding: 5px;
  background-color:#772BA1;
  border-radius: 20% 0 20% 0;
    text-decoration: none;
    color:  #D4EC70;
}
