* {
  /* background-color: rgb(56, 133, 240); */
}

/* Tabs */
.btn-title {
  background-color: white`;
  text-align: center;
}

#share {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
  color: #772BA1;
  font-weight: bolder;
  margin: auto;
  padding: 5px 25px 10px 25px;
  background-color: #D4EC70;
  border: #d4ec70;
}

#respond {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
  color: #d4ec70;
  margin: auto;
  padding: 5px 25px 10px 25px;
  background-color: #772BA1;
  border: #772BA1;
}

#title-bar-how-to {
  background-color: white;
  height: 9rem;
  font-family: 'Righteous', cursive;
  font-size: 5rem;
  padding: 10px 0 40px 0;
  text-align: center;
  font-weight: bolder;
  color: #772BA1;
}

/* How to Share Display */
#myShareDIV {
  position: absolute;
  background-color: #D4EC70;
  height:fit-content;
}

/* How to Respond Display */
#myRespondDIV {
  position: absolute;
  display: none;
  background-color: #772BA1;
}

.share-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 65px 0 20px 0;
  text-align: center;
  background-color: #d4ec70;
}

.respond-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 65px 0 20px 10px;
  text-align: center;
  background-color: #772BA1;
}

.share-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 52%;
  background-color: #d4ec70;
  padding-bottom: 70px;
}

.respond-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 52%;
  background-color: #772BA1;
  padding-bottom: 80px;
}

.primary-share-text {
  color: #772BA1;
  background-color: #d4ec70;
  padding-top: 30px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  width: 75%;
}

.secondary-share-text {
  color: #d4ec70;
  background-color: #772BA1;
  padding-top: 30px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  line-height: 30px;
  margin: auto;
  width: 75%;
}

#card-label {
  font-family: "Righteous", cursive;
  font-size: 29px;
  background-color: #D4EC70;
  margin: auto;
  font-weight: 900;
}

#card-label2 {
  font-family: "Righteous", cursive;
  font-size: 29px;
  background-color: #772BA1;
  margin: auto;
  font-weight: 900;
}

#join-us {
  background-color: #772BA1;
  box-shadow: 5px 5px 50px #772BA1;
  margin: auto;
  margin-bottom: 50px;
  max-width: 55%;
  border-radius: 50%;
}

#join-us2 {
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #d4ec70;
  margin: auto;
  margin-bottom: 50px;
  max-width: 55%;
  border-radius: 50%;
}

#typing {
  background-color: #772BA1;
  box-shadow: 5px 5px 50px #772BA1;
  margin: auto;
  margin-bottom: 50px;
  max-width: 55%;
  border-radius: 50%;
}

#typing2 {
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #d4ec70;
  margin: auto;
  margin-bottom: 50px;
  max-width: 55%;
  border-radius: 50%;
}

#sharing {
  background-color: #772BA1;
  box-shadow: 5px 5px 50px #772BA1;
  background-color:  rgb(56, 133, 240);
  margin: auto;
  margin-bottom: 50px;
  max-width: 55%;
  border-radius: 50%;
}

#sharing2 {
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #d4ec70;
  background-color:  rgb(56, 133, 240);
  margin: auto;
  margin-bottom: 50px;
  max-width: 55%;
  border-radius: 50%;
}
