* {
  margin-top: 0;
  background-color: white;
}
body {
    background-color: white;
}

#title-bar-how-to {
  height: 6rem;
  background-color: white;
  font-family: 'Righteous', cursive;
  font-size: 3.5rem;
  text-align: center;
  font-weight: bolder;
  color: #772BA1;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Tabs */

.btn-title {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 0 auto 0 auto;
}

#share {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: #772BA1;
  margin: auto;
  padding: 5px 25px 10px 25px;
  background-color: #D4EC70;
  border: #d4ec70;
}

#respond {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  color: #d4ec70;
  margin: auto;
  padding: 5px 25px 10px 25px;
  background-color: #772BA1;
  border: #772BA1;
}

/* How to Share Display */
#myShareDIV {
  position: absolute;
  margin-top: 3rem;;
  width: 100%;
  height: 76%;
  padding: 5px 0;
  text-align: center;
  background-color: #D4EC70;
}

/* How to Respond Display */
#myRespondDIV {
  display: none;
  position: absolute;
  margin-top: 3rem;;
  width: 100%;
  height: 76%;
  padding: 5px 0;
  text-align: center;
  background-color: #772BA1;
}

.share-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px 0;
  text-align: center;
  background-color: #d4ec70;
  margin-top: 0px;
}

.respond-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px 0;
  text-align: center;
  background-color: #772BA1;
  margin-top: 0px;
}

.share-card {
  display: flex;
  /* background-color: black; */
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
  margin: auto;
  background-color: #d4ec70;
}

.respond-card {
  display: flex;
  /* background-color: black; */
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
  margin: auto;
  background-color: #772BA1;
}

.primary-share-text {
  color: #772BA1;
  background-color: #d4ec70;
  padding: 10px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: auto;
  width: 80%;
}

.secondary-share-text {
  color: #d4ec70;
  background-color: #772BA1;
  padding: 10px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: auto;
  width: 80%;
}

footer {
  width: 90%;
}

#card-label {
  font-family: "Righteous", cursive;
  font-size: 29px;
  background-color: #D4EC70;
  margin: auto;
  font-weight: 900;
}

#card-label2 {
  font-family: "Righteous", cursive;
  font-size: 29px;
  background-color: #772BA1;
  margin: auto;
  font-weight: 900;
}

#join-us {
  /* border: 5px solid #772BA1; */
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #772BA1;
  margin: auto;
  margin-bottom: 50px;
  max-width: 65%;
  border-radius: 50%;
}

#join-us2 {
  /* border: 5px solid #772BA1; */
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #d4ec70;
  margin: auto;
  margin-bottom: 50px;
  max-width: 65%;
  border-radius: 50%;
}

#typing {
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #772BA1;
  margin: auto;
  margin-bottom: 50px;
  max-width: 65%;
  border-radius: 50%;
}

#typing2 {
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #d4ec70;
  margin: auto;
  margin-bottom: 50px;
  max-width: 65%;
  border-radius: 50%;
}

#sharing {
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #772BA1;
  background-color: rgb(80, 153, 205);
  margin: auto;
  margin-bottom: 50px;
  max-width: 65%;
  border-radius: 50%;
}

#sharing2 {
  background-color: #d4ec70;
  box-shadow: 5px 5px 50px #d4ec70;
  background-color: rgb(80, 153, 205);
  margin: auto;
  margin-bottom: 50px;
  max-width: 65%;
  border-radius: 50%;
}
