<<<<<<< HEAD

/* .App {
  text-align: center;
  margin: auto;
} */
 
header {
  background-color: rgb(80, 153, 205);;
=======
header {
>>>>>>> ffca8fe70cbb21124d7b0b1b9a3ab359cc670876
  display: flex;
  flex-direction: row;
  font-family:  'Righteous', cursive;
  font-size: 20px;
  justify-content: space-evenly;
  padding: 20px 20px 20px 20px;
}

.label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
}
 
.LinkStyle {
  padding: 5px;
  background-color:#772BA1;
<<<<<<< HEAD
  border-radius: 5px;
    text-decoration: none;
    color:  #D4EC70;
=======
  font-family: "Righteous", cursive;
  border-radius: 12px;
  text-decoration: none;
  color:  #D4EC70;
>>>>>>> ffca8fe70cbb21124d7b0b1b9a3ab359cc670876
}

.login {
  background-color: aqua;
  position: float;  
}

.logout {
  background-color: aqua;
  position: float;
}