
 
 header {
    display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.LinkStyle {
  display: block;
  background-color:#772BA1;
  font-family: "Righteous", cursive;
  border-radius: 5px;
    text-decoration: none;
    color:  #D4EC70;
}
